.header {
  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(15);
    padding-bottom: rem(15);
  }

  // .header__logo

  &__logo {
  }

  // .header__score

  &__score {
  }

  &__menu {
  }
}

.logo {
  display: block;
  width: rem(200);
  height: rem(55);
  background-image: url('@/assets/img/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu {
  @media (max-width: $mobile) {
    flex-grow: 0;
  }

  // .menu__icon
  &__icon {
  }

  // .menu__body
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: flex-start;

      position: fixed;
      overflow: auto;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      z-index: 2;
      transition: all 0.3s ease 0s;
      background-color: $mainColor;
      @include adaptiveValue('padding-top', 170, 100);
      padding-bottom: rem(30);
      padding-right: rem(15);
      padding-left: rem(15);
      .menu-open & {
        left: 0;
      }
    }
  }

  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    @include adaptiveValue('column-gap', 50, 10);

    font-size: rem(20);
    line-height: 1.6;

    color: $whiteClr;

    @media (max-width: $mobile) {
      font-size: rem(30);
      flex-direction: column;
      &:not(:last-child) {
        margin-bottom: rem(50);
      }
    }
  }

  // .menu__item
  &__item {
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &.menu__item_active {
      color: $greenClr;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $greenClr;
      }
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: $whiteClr;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
